*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: silver;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.search-product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.search-product input{
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    width: 500px;
    height: 30px;
    padding: 0 10px;
    background: none;
}

.search-product input:focus{
    border-bottom: 1px solid blueviolet;
}

.search-product button{
    padding: 10px 30px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: papayawhip;
    font-size: 14px;
}

.items-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}

.items-button button{
    border: 1px solid blueviolet;    
    background: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}